p {
  font-family: Montserrat;
  text-align: center;
  margin-top:0;
  margin-bottom:0;
}

.title {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}

.delivery {
  text-decoration: underline;
}